<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
  <link href='/styles.css' rel='stylesheet'/>
</head>
<body>
<main>
  <section>
    <h3 class="section-title" style="border-bottom: darkgray solid 1px;padding-bottom: 1em; margin-bottom: 1em">Create
      Customer</h3>
    <form [formGroup]="addCustomerForm">
      <div class="row">
        <div class="col-1">
          <label class="form-label" for="firstName">Firstname</label>
          <input class="form-control" id="firstName" type="text" formControlName="firstName"/>
        </div>
        <div class="col-1">
          <label class="form-label" for="lastName">Lastname</label>
          <input class="form-control" id="lastName" type="text" formControlName="lastName"/>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" id="email" type="email" formControlName="email"/>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <label class="form-label" for="phoneNumber">Phone number (mobile)</label>
          <input class="form-control" id="phoneNumber" type="tel" formControlName="phoneNumber"/>
        </div>
      </div>
      <div class="row" formGroupName="address">
        <div class="col-4">
          <label class="form-label" for="street">Street</label>
          <input class="form-control" id="street" type="text" formControlName="street" />
        </div>
        <div class="col-1">
          <label class="form-label" for="number">Number</label>
          <input class="form-control" id="number" type="text" formControlName="number"/>
        </div>
      </div>
      <div class="row" formGroupName="address">
        <div class="col-1">
          <label class="form-label" for="postalCode">Postalcode</label>
          <input class="form-control" id="postalCode" type="text" formControlName="postalCode"/>
        </div>
        <div class="col-1">
          <label class="form-label" for="country">Country</label>
          <select id="country" class="form-select" formControlName="country">
            <option>Belgium</option>
          </select>
        </div>
      </div>
      <div class="row">
        <button class="col-4 btn btn-create" type="button" (click)="addCustomer()">CREATE</button>
        <button class="col-1 btn">CANCEL</button>
      </div>
    </form>
  </section>
</main>
</body>
</html>
