<main>
  <section>
    <h3 class="section-title">Items</h3>
    <ul *ngFor="let item of items" class="card-list">
      <li class="card">
        <div class="card-title">{{item.name}}</div>
        <img class="card-image" src="../assets/images/item-image.png" alt="item image">
        <div class="card-footer">
          <div>Price: &euro; {{item.price}}</div>
          <div class="stock">
            <span>High</span>
            <img class="icon" src="../assets/images/warning-icon.png" alt="warning">
          </div>
        </div>
      </li>
    </ul>
  </section>
</main>
